*{ 	font-family: sans-serif  ;
	line-height: 1.5 ;
		}
footer,
a{ font-size: .75m ;
	color: seagreen ;	
		}
center{ text-align: center ; }
h1{ background: #8fbc8f ;
box-shadow: 3px, 3px, 3px, rgba(0,0,250,0) ;
text-shadow: 3px, 2px, 2px, rgba (160,160,180);
display:inline ;
text-align: center;
	}	
h3{color: rgb(143,188,143); /* darkseagreen */
		}
:hover{ color: rgb(190, 180, 160) ; /* gray */
		}
nav{ text-align: center ; 
		}
nav a{ color: rgb(143,188,143) /* darkseagreen */ ;
letter-spacing: -1px ;
font-size: 1em ;
text-decoration: none ;
border-bottom: 1px dotted ;
	}
Details { background-color: rgba(255, 0, 0, 0.3);   /* red with opacity */
color: rgb(204,0,0); 
display: inline ; 
		} 
summary { color: rgb(204,0,0); 
		} 

figure { background-color: rgb(143,188,143); /* darkseagreen */ 
border: 1px solid ;
text-align: center ; 
} 

IMG{ MARGIN: 25px, 25px ; 
	} 

