*{ 	font-family: sans-serif  ;
	line-height: 1.5 ;
		}
footer,
a{ font-size: .75em ;
	color: seagreen ;	
		}
center{ text-align: center ; }

p::first-letter{text-shadow: 5px 6px 5px  #2e8b57, 1px 3px 1px  #8fbc8f ;
font-family: aria ; 
font-size: 2em ;
	}
h1{ text-shadow: 8px 4px 6px #00FF66, 8px 5px 5px #66BB6A;
display:inline ;
text-align: center;
	}	
h3{color: rgb(143,188,143); /* darkseagreen */
		}
:hover{ color: rgb(190, 180, 160) ; /* gray */
		}
		
#antiquity {box-shadow: 8px 5px 6px #070 ;
width:550px;
padding: 0em 7em 7em #f90 ;
}

#modern{box-shadow: 8px 5px 6px #050 ; 
width: 550px ;
padding: 0em 7em 7em #f90 ;
	}
nav{ text-align: center ; 
		}
nav a{ color: rgb(143,188,143) /* darkseagreen */ ;
letter-spacing: -1px ;
font-size: 1em ;
text-decoration: none ;
border-bottom: 1px dotted ;
	}
Details {background-color: rgba(0, 10, 130, 0.3);   /* fallback*/
background-color: rgb(0,10,130); /* blue with opacity */
width: 350px ;
padding: 15px ;
color: rgb(106,100,800); 
display: inline ; 
		} 
summary { background-color: rgb(0,10,130)	/*blue*/; 
width: 350px ;
height: 25px ;
		} 

figure { background: rgb(143,188,143) /* darkseagreen */ ;
border: 4px groove ;
} 


